html{
    height: 100vh;
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: #1c0000;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#740101,#000000);
    border-radius: 5px;
}
.body{
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    position: sticky;
    top:0;
    z-index: 10;
}
.links{
    text-decoration: none;
    display:flex;
    width: 100%;
    padding-top: 10px;
    background-color: #000000;
    position: sticky;
    top:0;
    z-index: 10;
    gap:5px;
    vertical-align: middle;
}
.lt{
    width: 200px;
    text-align: center;
}
.lt a{
    text-decoration: none;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-top: 30px;
    color: white;
    transition: .2s;
}
.lt a:hover{
    text-decoration: none;
    transform: scale(1.2);
}
.content{
    float: left;
    grid-row: inherit;
    color: whitesmoke;
}
.content h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: black;
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: 0;
}
.content h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color: black;
    padding-top: 30px;
    padding-left: 50px;
}
.content h4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0px 0px 1px  black;
    color: black;
    padding-top: 5px;
    padding-left: 50px;
}
.btn{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #a60000;
    width: 300px;
    height: 30px;
    margin-left: 135px;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 35px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 0px;
    transition: 0.2s;
}
.btn:hover{
    letter-spacing: 3px;
    transform: scale(1.15);
    border-radius: 35px;
}

.content2{
    float: right;
    color: whitesmoke;
}
.content2 h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color: black;
    padding-top: 30px;
    padding-left: 10px;
}
.content2 .form-container {
    width: 600px;
    margin-right: 50px;
}
.content2 .responsive-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.content2 .form-group {
    margin-bottom: 15px;
}
input:hover{
    box-shadow: red 1px 1px 5px;
}
select:hover{
    box-shadow: red 1px 1px 5px;
}
input[type="text"], select {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: #740101;
    border-width: 3px;
    width: 100%;
}
label{
    color: black;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.parabg2{
    width: 100%;
    min-height: 20vh;
    position: relative;
    transform-style: preserve-3d;
    background: rgb(0,0,0);
}
.footer{
    display: flex;
    padding: 20px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
    height: 80px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #000000a0;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
 }
