
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: #1c0000;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#740101,#000000);
    border-radius: 5px;
}
.body{
    background-color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
}
.links{
    text-decoration: none;
    display:flex;
    width: 100%;
    padding-top: 10px;
    background-color: #000000;
    position: sticky;
    top:0;
    z-index: 10;
    gap:5px;
    vertical-align: middle;
}
.lt{
    width: 200px;
    text-align: center;
}
.lt a{
    text-decoration: none;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-top: 30px;
    color: white;
    transition: .2s;
}
.lt a:hover{
    text-decoration: none;
    transform: scale(1.2);
}

img {
    display: block;
}
.container2 {
    grid-column: 2/13;
    grid-row: 10/3;
    display: grid;
    place-items: center;
    margin-bottom: -40px;
}

.container2 p {
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 80px;
  margin-bottom: 80px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.card__container {
    display: inline-flex;
    margin-top: 0px;
    margin-bottom: 100px;
}
.card__article {
    position: relative;
    overflow: hidden;
}
.card__img {
    width: 300px;
    height: 300px;
    border-radius: 1.5rem;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 30px;
    box-shadow: 1px 5px 30px black;
}
.card__data {
    width: 220px;
    background-color: #6f2232;
    padding: 1.5rem 2rem;
    box-shadow: 5px 5px 20px;
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}
.card__description {
    display: block;
    font-size: 16px;
    color: white;
    margin-bottom: .25rem;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card__title {
    font-size: 30px;
    font-weight: bolder;
    color: yellow;
    margin-bottom: .25rem;
}
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
} 
.card__article:hover {
    animation: remove-overflow 2s forwards;
}
.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}
.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}
@keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
}
@keyframes remove-overflow {
    to {
      overflow: initial;
    }
}
@keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
}
@keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
}  


.parabg2{
    width: 100%;
    min-height: 20vh;
    position: relative;
    transform-style: preserve-3d;
    background: rgb(0,0,0);
}

#footer {
    position: relative;
    background-color: #00000022;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
    margin: 0;
    padding: 20px;
}