.containerN {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows:  repeat(4, 1fr);
    gap: 5px;
    margin: 20px;
    max-width: 1650px;
    max-height: 600px;
    margin-top: 1in;
}

.containerN iframe {
    grid-column: 3 / span 10;
    grid-row: 1 / span 4;
    
}

.containerN1 {
    grid-column: 12;
    grid-row: 1;
    max-height: 200px;
    margin-top: 0.15in;
}

.containerN1 h1 {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    font-size: 0.4in;
    margin-top: -0.2in;
}

.containerN1 h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 0.18in;
}

.containerN1 h3 {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    font-size: 0.2in;
    color: #b12121;
}

.containerN1 h4 {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    font-size: 0.15in;
    color: gray;
    padding-left: 20px;
}

.containerN1 hr {
    height: 0;
    width: 6in;
    border-color: #a60000;
}

.containerN .btn1{
    background-color: #a60000;
    border-radius: 35px;
    border-top-left-radius: 0px;
    border-width: 0px;
    transition: 0.2s;
    color: white;
    position: absolute;
    right: 4in;
    top: 3.92in;
}

.containerN .btn1:hover{
    transform: scale(1.15);
    border-radius: 35px;
}

.containerN2 {
    grid-column: 12;
    grid-row: 2;
    max-height: 200px ;
    margin-top: 0.15in;
}

.containerN2 h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 0.18in;
}

.containerN2 h3 {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    font-size: 0.2in;
    color: #b12121;
}

.containerN2 h4 {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    font-size: 0.15in;
    color: gray;
    padding-left: 20px;
}

.containerN2 hr {
    height: 0;
    width: 6in;
    border-color: #a60000;
}

.containerN .btn2{
    background-color: #a60000;
    border-radius: 35px;
    border-top-left-radius: 0px;
    border-width: 0px;
    transition: 0.2s;
    color: white;
    position: absolute;
    right: 4in;
    top: 6.09in;
}

.containerN .btn2:hover{
    transform: scale(1.15);
    border-radius: 35px;
}

.containerN3 {
    grid-column: 12;
    grid-row: 3;
    max-height: 200px ;
    margin-top: 0.15in;
}

.containerN3 h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 0.18in;
}

.containerN3 h3 {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    font-size: 0.2in;
    color: #b12121;
}

.containerN3 h4 {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    font-size: 0.15in;
    color: gray;
    padding-left: 20px;
}

.containerN3 hr {
    height: 0;
    width: 6in;
    border-color: #a60000;
}

.containerN .btn3{
    background-color: #a60000;
    border-radius: 35px;
    border-top-left-radius: 0px;
    border-width: 0px;
    transition: 0.2s;
    color: white;
    position: absolute;
    right: 4in;
    top: 8.09in;
}

.containerN .btn3:hover{
    transform: scale(1.15);
    border-radius: 35px;
}

#footer {
    position: absolute;
    width: 98%;
    background-color: #efefef22;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
    padding: 20px;
    bottom: 0;
}